<div class="container-fluid p-4">
    <h2>Hello, {{user.name}}</h2>
    <div class="row g-3">
        <form [formGroup]="formGroup" class="row g-3" (ngSubmit)="onFormSubmit()" (keydown.enter)="onFormSubmit()">
            <div class="col-lg-3 col-6">
                <label for="brandFilter">Brand</label>
                <div class="input-group ">

                    <input type="text" class="form-control col-4" id="brandFilter" placeholder="Brand"
                        formControlName="brand">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <label for="modelFilter">Model</label>
                <div class="input-group ">
                    <input class="form-control col-4" id="modelFilter" type="text" placeholder="Model"
                        formControlName="model">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <label for="yearFilter">Year</label>
                <div class="input-group ">
                    <input class="form-control col-4" id="yearFilter" type="text" placeholder="Year"
                        formControlName="year">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <label for="colorFilter">Color</label>
                <select class="form-select " aria-label="Default select example" id="colorFilter"
                    formControlName="color">
                    <option value="" disabled selected>Select color</option>
                    <option *ngFor="let color of colors" value="{{color}}">{{color}}</option>
                </select>
            </div>
            <div class="col-10"></div>
            <div class="col-1  ">
                <button class="btn btn-primary w-100" (click)="clearFilters()">Clear</button>
            </div>
            <div class="col-1  ">
                <button class="btn btn-primary w-100" type="submit">Search</button>
            </div>
        </form>
    </div>

    <div class="overflow-auto my-5" (scroll)="onScroll($event)">
        <ul class="list-group list-group-horizontal d-flex-row">
            <li class="col-6 col-md-4 col-lg-2 align-self-center mx-2">
                <div class="card card-body align-items-center justify-content-center " (click)="goToAddCar()">
                    <span class="fa fa-plus-square fa-5x"></span>
                </div>
            </li>
            <li class="col-6 col-md-4 col-lg-2  mx-2" *ngFor="let car of carList">
                <div class="card card-body  align-items-center justify-content-center">
                    <img class="card-img-top" src="/assets/car.jpg">
                    <div class="row">
                        {{car.brand}}
                    </div>
                    <div class="row">
                        {{car.model}}

                    </div>
                    <div class="row">
                        {{car.year}}

                    </div>
                    <div class="row">
                        {{car.color}}
                    </div>
                </div>
            </li>
            <li class="col-md-4 col-6 col-lg-2 align-self-center  mx-2" *ngIf="loading">
                <div class="card card-body  border-0 align-items-center justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>